<p>Search For Movies and Tv Shows</p>
<%= form_with url: medias_path, method: :get do |f| %>
    <%= f.text_field :query %>
    <%= f.submit "Search" %>
<% end %>


<p><%= link_to "Create A New Movie Or Tv Show", new_media_path %></p>



<ul>
<% @medias.each do |media| %>
   <li><%= link_to media.title, media_path(media) %> - <%= media.media_type %></li>
<% end %>
</ul>