<p>Create A New Movie Or Tv Show</p>
<%= form_with model: @media do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :media_type %>
    <%= f.select :media_type, ["Movie", "Tv Show"] %>

    <%= f.submit %>
<% end %>