<p>Make A Recommendation</p>

<%= form_with model: [@user, @recommendation] do |f| %>
    <p>Select A Movie Or TV Show</p>
    <%= f.collection_select :media_asset_id, MediaAsset.all, :id, :title %>

    <br>
    <p>Create A New Movie Or TV Show</p>
    <%= f.fields_for :media_asset, @recommendation.build_media_asset do |media_asset_fields| %>
      <%= media_asset_fields.text_field :title %>
      <%= media_asset_fields.select :media_type, ["Movie", "Tv Show"], include_blank: true %>
    <% end %>
    
    <br>
    <p>Rate Your Recommendation</p>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
    
    <%= f.submit "Add To Recommendations List" %>
<% end %>


