<div class="container">
<p>Search For Movies and Tv Shows</p>
<hr>
<%= form_with model: @media_asset, method: :get do |f| %>
    <%= f.text_field :query %>
    <%= f.submit "Search" %>
<% end %>


<p><%= link_to "Create A New Movie Or Tv Show", new_media_asset_path %></p>



<ul>
<% @media_assets.each do |media_asset| %>
   <li><%= link_to media_asset.title, media_asset_path(media_asset) %> - <%= media_asset.media_type %></li>
<% end %>
</ul>
</div>