<br>

<div class="container">
<h2><%= @user.username %>'s Profile Page</h2>
<hr>
<% if !check_user? %>
    <p><%= link_to "Make a recommendation", new_user_recommendation_path(@user), :class => "link" %></p>
<% end %>


<h3>Recommendations</h3>
<hr>
<% @user.received_recommendations.each do |recommendation| %>
   <p> <%= render partial: 'recommendations/media', locals: {recommendation: recommendation} %> - Rating: <%= recommendation.rating %> </p>
   <p> Recommended By: <%= render partial: 'recommendations/maker', locals: {recommendation: recommendation}  %> </p>
   <% if check_user? %>
        <%= button_to "delete", recommendation, :method => :delete, :class => 'btn btn-light' %>
   <% end %>
    <hr>
<% end %>



<% if check_user? %>
    <p><%=link_to "Edit Account", edit_user_path(@user), :class => "link" %></p>
    <p><%=button_to "Logout", '/logout', :class => 'btn btn-light' %></p>
<% end %>
</div>




