<br>
<br>

<h2><%= @user.username %>'s profile page</h2>

<% if !check_user? %>
    <p><%= link_to "Make a recommendation", new_user_recommendation_path(@user) %></p>
<% end %>


<h3>Recommendations</h3>
<hr>
<% @user.received_recommendations.each do |recommendation| %>
   <p> <%= render partial: 'recommendations/recommendation_media', locals: {recommendation: recommendation} %> - Rating: <%= recommendation.rating %> </p>
   <p> Recommended By: <%= render partial: 'recommendations/recommendation_maker', locals: {recommendation: recommendation}  %> </p>
   <% if check_user? %>
        <%= button_to "delete", recommendation, :method => :delete %>
   <% end %>
    <hr>
<% end %>



<% if check_user? %>
    <p><%=link_to "Edit Account", edit_user_path(@user) %></p>
    <p><%=button_to "Logout", '/logout' %></p>
<% end %>




