<p>Search For Movies and Tv Shows</p>
<%= form_with url: tv_movies_path, method: :get do |f| %>
    <%= f.text_field :query %>
    <%= f.submit "Search" %>
<% end %>


<p><%= link_to "Create A New Movie Or Tv Show", new_tv_movie_path %></p>



<ul>
<% @tv_movies.each do |tv_movie| %>
   <li><%= link_to tv_movie.title, tv_movie_path(tv_movie) %> - <%= tv_movie.content_type %></li>
<% end %>
</ul>