<p>Create A New Movie Or Tv Show</p>
<%= form_with model: @tv_movie do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content_type %>
    <%= f.select :content_type, ["Movie", "Tv Show"] %>

    <%= f.submit %>
<% end %>