<!DOCTYPE html>
<html>
  <head>
    <title>Queue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <%= link_to "Home", home_path %> | <%= link_to "Search Users", users_path %> | <%= link_to "Search Movies and TV", media_assets_path %> | <%= link_to "Profile Page", user_path(current_user) %>
    <br>
    <%= yield %>
  </body>
</html>
